.p_1 {
    /* 字体大小,浏览器默认16px，设计图常用12px */
    font-size: 26px;
    /* 设置字体,中文或中间有空格需加"",
    多个之间逗号隔开，优先使用第一个，若没有则依次向后匹配 */
    font-family: "宋体", "楷体";
    /* 
        color:{
            英语单词表示,
            rgb0~255rgb(0,0,0),
            十六进制三原色表示#000000
        }
    */
    color: pink;
}